@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@keyframes sp-pulse {
  0%, 100% { opacity: 1; }
  50%       { opacity: 0.4; }
}

*{
  font-family: Outfit;
}

@theme {
  --color-primary: #5f6fff;
}

.active hr {
  display: block;
}

::-webkit-scrollbar {
  @apply hidden;
}

@media (max-width: 740px){
  .active p{
    @apply text-white bg-primary
  }
}